{% extends "page.html" %}

{%- set section_name = d.Title.decode('utf-8') -%}
{%- set section_name_loc = d.Path[0].Nombre.decode('utf-8')|e -%}
{%- set subsection_name = d.Path[-1].Nombre.decode('utf-8')|e -%}
{%- if d.Path and d.Path|length == 1 -%}
    {%- set section_page = true -%}
{%- else -%}
    {%- set section_page = false -%}
{%- endif -%}

{% block head_title %}
	<title>{{ subsection_name }} - Venta de {{ section_name_loc }}</title>
{% endblock %}

{% block head_canonical %}
    {%- set canonical = url.cannonical -%}
    {%- if not canonical[-1] == '/' -%}
        {%- set canonical = url.cannonical + '.htm' -%}
    {%- endif -%}
    <link rel="canonical" href="{{ url.dynamic }}{{ canonical }}">
{% endblock %}

{% block head_extra %}
    <link type="text/css" rel="stylesheet" href="{{ url.data }}/stage0/css/jquery.qtip.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url.data }}/stage0/css/jquery.treeview.css">
    <link type="text/css" rel="stylesheet" href="{{ url.data }}/stage0/css/tinycarousel.css">
    <link type="text/css" rel="stylesheet" href="{{ url.data }}/stage0/css/showcase.css">
    {% set section = d.Categoria_Seccion %}
    {% if section == 1 %}
        <link href="/stage0/css/books.css" rel="stylesheet" type="text/css">
    {% elif section == 4 %}
        <link href="/stage0/css/music.css" rel="stylesheet" type="text/css">
    {% elif section == 5 %}
        <link href="/stage0/css/movies.css" rel="stylesheet" type="text/css">
    {% elif section == 3 %}
        <link href="/stage0/css/games.css" rel="stylesheet" type="text/css">
    {% endif %}
{% endblock %}

{% block search_box %}
    <div class="hBuscador">
        <ul class="dropdown">
            <li class="dir" onclick="javascript:desplegarOpciones('listaBuscador');">
                <span id="optBusqueda">T&iacute;tulo</span>
                <ul style="display: none;" id="listaBuscador"
                    onmouseover="clearTimeout(tempo);"
                    onmouseout="ocultarOpcionesT('listaBuscador');">

{% if section_name == 'Libros' %}
                    <li>
                        <a id="optBus1" href="javascript:APP.searchShowBy('optBus1','optBusqueda','listaBuscador','1','1','En Libros');">T&iacute;tulo</a>
                    </li>
                    <li>
                        <a id="optBus2" href="javascript:APP.searchShowBy('optBus2','optBusqueda','listaBuscador', '1', '1','En Libros');">Autor</a>
                    </li>
                    <li>
                        <a id="optBus3" href="javascript:APP.searchShowBy('optBus3','optBusqueda','listaBuscador', '1', '1','En Musica');">Editorial</a>
                    </li>
                    <li>
                        <a id="optBus4" href="javascript:APP.searchShowBy('optBus4','optBusqueda','listaBuscador', '1', '1','En Peliculas');">ISBN</a>
                    </li>

{% elif section_name == 'Musica' %}

                    <li><a id="optBus1"  href="javascript:APP.searchShowBy('optBus1','optBusqueda','listaBuscador','4','4','En Musica');">T&iacute;tulo</a></li>

                    <li><a id="optBus2"  href="javascript:APP.searchShowBy('optBus2','optBusqueda','listaBuscador','4','4','En Musica');">Grupo/Int&eacute;rprete</a></li>

                    <li><a id="optBus3"  href="javascript:APP.searchShowBy('optBus3','optBusqueda','listaBuscador','4','4','En Musica');">Sello Discogr&aacute;fico</a></li>

                    <li><a id="optBus4"  href="javascript:APP.searchShowBy('optBus4','optBusqueda','listaBuscador','4','4','En Musica');">Tema Musical</a></li>

                    <li><a id="optBus5"  href="javascript:APP.searchShowBy('optBus5','optBusqueda','listaBuscador','4','4','En Musica');">Palabra Clave</a></li>

{% elif section_name == 'Peliculas' %}

                    <li><a id="optBus1"  href="javascript:APP.searchShowBy('optBus1','optBusqueda','listaBuscador','5','5','En Peliculas');">Título</a></li>

                    <li><a id="optBus2"  href="javascript:APP.searchShowBy('optBus2','optBusqueda','listaBuscador','5','5','En Peliculas');">Director/Actor</a></li>

                    <li><a id="optBus3"  href="javascript:APP.searchShowBy('optBus3','optBusqueda','listaBuscador','5','5','En Peliculas');">Productora</a></li>

                    <li><a id="optBus5"  href="javascript:APP.searchShowBy('optBus5','optBusqueda','listaBuscador','5','5','En Peliculas');">Palabra Clave</a></li>

{% elif section_name == 'Pasatiempos' %}


                    <li><a id="optBus1"  href="javascript:APP.searchShowBy('optBus1','optBusqueda','listaBuscador','3','3','En Pasatiempos');">Título</a></li>

                    <li><a id="optBus2"  href="javascript:APP.searchShowBy('optBus2','optBusqueda','listaBuscador','3','3','En Pasatiempos');">Autor</a></li>

                    <li><a id="optBus3"  href="javascript:APP.searchShowBy('optBus3','optBusqueda','listaBuscador','3','3','En Pasatiempos');">Editorial</a></li>

                    <li><a id="optBus4"  href="javascript:APP.searchShowBy('optBus4','optBusqueda','listaBuscador','3','3','En Pasatiempos');">ISBN</a></li>

                    <li><a id="optBus5"  href="javascript:APP.searchShowBy('optBus5','optBusqueda','listaBuscador','3','3','En Pasatiempos');">Palabra Clave</a></li>

{% endif %}

                </ul>
            </li>
        </ul>
        <input id="txtBuscar" name="buscadorTxtField" type="text" value=""
            class="hBuscTxtF"
            onkeypress="javascript: if(APP.pressedEnter(event)) APP.setSearch(document.getElementById('optBusqueda').innerHTML, document.getElementById('txtBuscar').value,document.getElementById('idSeccion').value,document.getElementById('idSeccionPropia').value,document.getElementById('seccionBusqueda').value);">
        <input type="hidden" id="seccionBusqueda"
                value="En Tematika.com">
        <input type="hidden" id="idSeccionPropia" value="1">
        <input type="hidden" id="idSeccion" value="1">
        <a id="btnBuscar" class="hBuscButton" title="Buscar"
            href="javascript:APP.setSearch(document.getElementById('optBusqueda').innerHTML,document.getElementById('txtBuscar').value,document.getElementById('idSeccion').value,document.getElementById('idSeccionPropia').value,document.getElementById('seccionBusqueda').value);">&nbsp;</a>
    </div>
{%- endblock -%} {#- search_box -#}

{% block canvas_content -%}
    <div id="seccionTematika">
    	<div style="float: left; display: block; ">
			<div style="position: fixed; ">
				<a href="/{{ section_name|lower }}">
					<img src="{{ url.images }}/imagenes/blank.gif" border="0px" width="210px" height="60px" title="home de {{ section_name }}"/>
				</a>
			</div>
		</div>
        <div id="tree">
            {% include "fragments/tree.html" %}
        </div>
        <div id="showcase">
            {% include "subject/showcase.html" %}
        </div>
        {# if not section_page #}
            {% include "subject/catalog.html" %}
        {# endif #}
        <div id="comments">
            {% include "fragments/comments.html" %}
        </div>
        <div id="lastvisited"
                style="width: 900px; padding-top: 10px; float: left;">
            {% include "fragments/last_visited.html" %}
        </div>
    </div>

{%- endblock %}

{% block scripts_extra -%}
	<!-- JQuery Carousel and qTip -->
	<script type="text/javascript" src="{{ url.data }}/stage0/js/jquery.tinycarousel.js"></script>
	<script type="text/javascript" src="{{ url.data }}/stage0/js/jquery.qtip.min.js"></script>
	<script type="text/javascript" src="{{ url.data }}/stage0/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="{{ url.data }}/stage0/js/jquery.treeview.js"></script>
	<!-- JFather -->
	<script type="text/javascript" src="{{ url.data }}/stage0/js/json2.min.js"></script>

	<script type="text/javascript">
	 	{% include "fragments/serialize.js" %}
	    {% include "fragments/comments.js" %}
	    {% include "fragments/messages.js" %}
	    {% include "fragments/showcase.js" %}
	    {% include "fragments/last_visited.js" %}
	    {% include "subject/tree.js" %}
	    {% include "fragments/tree.js" %}
	    {% include "fragments/catalog.js" %}
	</script>

	<!-- Data Scripts -->
    {%- set ubase = d['LinkBase'] -%} {#- /section/sub /section/sub.js #}
    {%- if ubase[-1] == '/' -%}
        {%- set ubase = ubase[:-1] -%} {#- /section/ /section.js #}
    {%- endif -%}
	<script type="text/javascript"
            src="{{ url.data }}/comments{{ ubase }}.js"></script>
	<script type="text/javascript"
            src="{{ url.data }}/showcase{{ ubase }}.js"></script>
	<script type="text/javascript"
            src="{{ url.data }}/catalog{{ ubase }}.js"></script>

	<script type="text/javascript">

		jQuery(document).ready(function() {
			$('#sliderSection').tinycarousel({ axis: 'y', display: 1} );
			APP.fillCatalog('rank');
			renderLastVisited('lastvisited');
		});
		/* parse messages */
		{% include "fragments/messages_parse.js" %}
		/* Update data */
	    fillComments('{{ section_name|lower }}');
	    {% include "fragments/right_menu.js" %}
	    {% include "fragments/alliance.js" %}

        fillTree("arbolLibros", callBackTree);

	</script>
{%- endblock %}
