{%- macro getClass(id) -%}
	{%- if id == 1 -%}
		tapaLibros
	{%- elif id == 4-%}
		tapaMusica
	{%- elif id == 5 -%}
		tapaPeliculas
	{%- elif id == 3 -%}
		tapaPasatiempos
	{%- else -%}
		tapaLibros
	{%- endif -%}
{%- endmacro %}
{%- macro getSection(id) -%}
	{%- if id == 1 -%}
		libros
	{%- elif id == 4-%}
		musica
	{%- elif id == 5 -%}
		peliculas
	{%- elif id == 3 -%}
		pasatiempos
	{%- else -%}
		libros
	{%- endif -%}
{%- endmacro %}
{%- macro renderComments(comments_data, urls, cols, sectionMore) -%}
    {%- if comments_data is iterable -%}
	<div class="solapaModulos">
		{%- for article in comments_data -%}
	        <div class="solapaCalle" id="calleLibrosComents" style="height: 250px;">
				<div class="tapaContenedor">
				    <a href="{{ article.LinkBase }}">
				    	<img src="{{ urls.images ~ article.CoverSmall }}" alt="{{ article.Title }}" class="{{ getClass(article.Categoria_Seccion)|trim }}">
				    </a>
				    <div class="tapaInfo" style="visibility: hidden;"></div>
				</div>
	            <div class="hComentarios" id="comentarios01">
	            	<a>{{ article.NickName|escape }}</a>  dijo sobre
	                <a href="{{ article.LinkBase }}" class="fTitulos">{{ article.Title }}</a>
	                <span>
	                 	{{ article.CommentText.decode('utf-8')|truncate(100)|replace("\r","")|escape }}
	                </span>
	            </div>
	            <div class="calificacionMod">
	                <span>Calificaci&oacute;n del producto:</span>
	                {%- for number in range(0, 4) -%}
	                	{%- if number+1 <= article.Rating|int -%}
	                		<div class="calificacionStar"></div>
	                	{%- else -%}
	                		<div class="calificacionStarDes"></div>
	                	{%- endif %}
	                {%- endfor %}
	            {%- if sectionMore -%}
	            	<a href="/{{ getSection(article.Categoria_Seccion)|trim }}#coment" class="vermas">+ comentarios de {{ getSection(article.Categoria_Seccion)|trim }}</a>
	            {%- endif %}
	          </div>
	        </div>
{%- if not (loop.index % cols) == 0 -%} {#- separate cells -#}
		        <div class="solapaCalleSeparador" id="calleSeparadorComents" style="height: 250px;"></div>
{%- else %} {#- end row, start new row -#}
	</div>
    <div class="solapaModulos">
{%- endif %}
		{%- endfor %}
    {%- endif -%} {# comments_data is iterable #}
	</div>
{%- endmacro %}
