{%- macro renderComments(idArticle, idSubject, comments_data, url) -%}
	{%- if comments_data is iterable -%}
<a name="coment"></a>
<div class="dSolapas" id="comentarios">
 <div class="tmtkMesaMenuMod">
  <img class="solapasTitComent" alt="Comentarios" src="{{ url.images }}/imagenes/rediseno/imagenes/comun/t-comentarios.gif" />
 </div>
</div>
<div id="divComentarios"></div>
		{%- for comment in comments_data -%}
			<div class="dComentarios" >
		              <div class="dComentsInfo" >
		                  <span>
		                  	<a href="#">{{ comment.NickName.decode('utf-8')|escape }}</a> dijo el {{ comment.CommentDate.strftime("%d/%m/%y") }}:
		                  </span>
		                  <div class="calificacionMod">
		                      <span>Calificaci&oacute;n del producto:</span>
					                {%- set s = comment.Rating|round|int -%}
									{%- for i in range(s) -%}
	                    				<div class="calificacionStar"></div>
	                				{%- endfor -%}
	                				{%- for i in range(5 - s) -%}
	                    				<div class="calificacionStarDes"></div>
	                				{%- endfor -%}
		                  </div>
		              </div>
		              <div class="dComentsMod">
		                  <div class="dComentsTxt">
		                  		{{ comment.CommentText.decode('utf-8')|replace("\r","")|escape }}
		                  </div>
		              </div>
		     </div>
		{%- endfor %}
		<div class="dSolapasPie">
	    <a href="/Comentario?ID_ARTICULO={{ idArticle }}&idSeccion={{ idSubject }}"><div>AGREGAR COMENTARIO</div></a>
		</div>
		<input type="hidden" value="{{ comments_data|length }}" id="cantidad">
	{%- endif %}
{%- endmacro %}
