{%- macro getSection(id) -%}
	{%- if id == 1 -%}
		Libros
	{%- elif id == 4-%}
		Musica
	{%- elif id == 5 -%}
		Peliculas
	{%- elif id == 3 -%}
		Pasatiempos
	{%- else -%}
		Libros
	{%- endif -%}
{%- endmacro %}
{%- macro renderPrice(price_data, url) -%}
<div id="dTopRight">
	<div class="dCompra">
		<ul>
			<span id="ARS">{{ price_data.CurrencyCode_desc.decode('utf-8') }}&nbsp;{{ "%.2f"|format(price_data.PriceAmount) }}.-</span>
				<br>
			<span id="USD">DOLAR</span>
				<br>
			<span id="EUR">EURO</span>
			<span><p>
					+
					{{ price_data.eXtraPoints|int }} puntos <img
						src="{{ url.images }}/imagenes/rediseno/imagenes/comun/detalleExtraLogo.gif" /> <a
						href="/fidelizacion/panel/index.jsp">ingresar a extra</a>
				</p> </span>
		</ul>
		{%- if price_data.ProductAvailability == '21' -%}
			<a href="javascript:APP.cartAdd({{ price_data.EntityId }})">
				<div class="dComprarButton" title="Agregar al carrito"></div>
			</a>
		{%- else -%}
			{%- if price_data.ProductAvailability == '40' -%}
				<a href="javascript:void(0);">
					<div class="dNoDisponibleButton" title="No Disponible"></div>
				</a>
			{%- else -%}
				<img style="padding-left: 20px; cursor: pointer;" onclick="javascript:if (confirm(\'Este producto no esta disponible actualmente. Desea hacer un pedido?\'))document.location = \'/PedidoEspecial?ID_ARTICULO={{ price_data.EntityId }}\';"	src="/imagenes/rediseno/imagenes/seccion{{ getSection(price_data.Categoria_Seccion) }}/b-pedir.png"	alt="Pedir" />
			{%- endif -%}
		{%- endif %}
		<a href="/ayuda/ayudaEstandar.jsp?url=/ayuda/enviosPlazos.jsp"
			target="_blank" class="dComprarEnvio">Ver costos de env&iacute;o y
			Tiempos de Entrega</a>
		<!-- seccion de mensajes, como promociones
		{#%- for mensaje in modExtra_data.mensajesExtra -%#}
			{#<a href="{{ mensaje.href }}" class="dComprarEnvio">{{ mensaje.texto }}</a>#}
		{#%- endfor %#}
		-->
		<div class="detalleAcciones">
		</div>
		<br>
	</div>
</div>
<input type="hidden" id="currencyCode" value="{{ price_data.CurrencyCode }}"></input>
<input type="hidden" id="priceAmount" value="{{ '%.2f'|format(price_data.PriceAmount) }}"></input>
{%- endmacro %}
