{# comienzo definicion de macros a utilizar #}
{%- macro renderBeginDiv(divId, pageCount) -%}
	{%- if pageCount == 1 -%}
		<div id="{{ divId }}" class="pagedemo _current" style="">
	{%- else -%}
		<div id="{{ divId }}" class="pagedemo" style="display:none;">
	{%- endif -%}
				<table width="600" border="0" cellpadding="0" cellspacing="0"
				class="Gtablacontenido" align="center">
				<tr>

					<td class="Gcentro" width="422">
						<table width="390" border="0" align="center" cellpadding="0"
							cellspacing="0">
							<tr>
								<td>
									<div align="center">
										<table width="390" border="0" cellspacing="0" cellpadding="0"
											class="modulobuscador">

											<tr>
												<td><table width="390" border="0" cellspacing="0"
														cellpadding="0">
														<tr class="modulosmedio">
															<td><table width="390" border="0" cellspacing="0"
																	cellpadding="0" class="titulosceldastabla">
																	<tr>
																		<td class="titulosceldas">
																			<table width="390" border="0" cellpadding="0"
																				cellspacing="0" class="titulosceldas2">
																				<tr>
																					<td><img
																						src="{{ url.images }}/imagenes/libros/t-otrostitulos.gif"
																						alt="Otros t&iacute;tulos" />
																					</td>
																				</tr>
																			</table>
																		</td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</td>
											</tr>
{%- endmacro -%}
{%- macro showdiv(order, opt, onoff) -%}
	{%- if order == opt -%}
		{%- if onoff == 'ON' -%}
			none
		{%- else -%}
			block
		{%- endif -%}
	{%- else -%}
		{%- if onoff == 'ON' -%}
			block
		{%- else -%}
			none
		{%- endif -%}
	{%- endif -%}
{%- endmacro -%}
{%- macro renderEndDiv() -%}
											<tr><td>&nbsp;</td></tr>

														</table>
									</div>
								</td>
							</tr>
						</table></td>
					<td class="Gbarraderecha" width="162"><table width="155"
							border="0" cellspacing="0" cellpadding="0">
							<tr><td>&nbsp;</td></tr>
							<tr><td>&nbsp;</td></tr>
							<tr class="">
								<td><table width="155" border="0" cellspacing="0"
										cellpadding="0" class="moduloorden"
										style="margin-bottom: 15px">
										<tr>
											<td><table border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td><span class="Ftexto02">ORDENAR TITULOS
																POR:</span></td>
													</tr>

													<tr>
														<td class="moduloordencelda"><div id="OPT1ON" style="display:{{ showdiv(order, 1, 'ON') }}"><a id="OPT1"
															href="javascript:fillRelated(1, callBackRelated);"
															class="Flink02" rel="nofollow">- Los m&aacute;s vendidos<span class="Ftexto02"></a></div>
															<div id="OPT1OFF" style="display:{{ showdiv(order, 1, 'OFF') }}">- Los m&aacute;s vendidos</div>
														</td>
													</tr>

													<tr>
														<td class="moduloordencelda"><div id="OPT2ON" style="display:{{ showdiv(order, 2, 'ON') }}"><a id="OPT2"
															href="javascript:fillRelated(2, callBackRelated);"
															class="Flink02" rel="nofollow">- Precio de venta<br />
																<span class="Ftexto02">&nbsp;&nbsp;</span>(+econ&oacute;micos
																primeros)</a></div>
															<div id="OPT2OFF" style="display:{{ showdiv(order, 2, 'OFF') }}">- Precio de venta<br />
																<span class="Ftexto02">&nbsp;&nbsp;</span>(+econ&oacute;micos
																primeros)</div>
														</td>

													</tr>

													<tr>
														<td class="moduloordencelda"><div id="OPT3ON" style="display:{{ showdiv(order, 3, 'ON') }}"><a id="OPT3"
															href="javascript:fillRelated(3, callBackRelated);"
															class="Flink02" rel="nofollow">- Fecha de
																aparici&oacute;n<br /> <span class="Ftexto02">&nbsp;&nbsp;</span>(+antiguos
																primeros)</a></div>
															<div id="OPT3OFF" style="display:{{ showdiv(order, 3, 'OFF') }}">- Fecha de
																aparici&oacute;n<br /> <span class="Ftexto02">&nbsp;&nbsp;</span>(+antiguos
																primeros)</div>
														</td>

													</tr>

													<tr>
														<td class="moduloordencelda"><div id="OPT4ON" style="display:{{ showdiv(order, 4, 'ON') }}"><a id="OPT4"
															href="javascript:fillRelated(4, callBackRelated);"
															class="Flink02" rel="nofollow">- Fecha de
																aparici&oacute;n<br /> <span class="Ftexto02">&nbsp;&nbsp;</span>(+recientes
																primeros)</a></div>
															<div id="OPT4OFF" style="display:{{ showdiv(order, 4, 'OFF') }}">- Fecha de
																aparici&oacute;n<br /> <span class="Ftexto02">&nbsp;&nbsp;</span>(+recientes
																primeros)</div>
														</td>

													</tr>

													<tr>
														<td class="moduloordencelda"><div id="OPT5ON" style="display:{{ showdiv(order, 5, 'ON') }}"><a id="OPT5"
															href="javascript:fillRelated(5, callBackRelated);"
															class="Flink02" rel="nofollow">- Precio de venta<br />
																<span class="Ftexto02">&nbsp;&nbsp;</span>(+costosos
																primeros)</a></div>
															<div id="OPT5OFF" style="display:{{ showdiv(order, 5, 'OFF') }}">- Precio de venta<br />
																<span class="Ftexto02">&nbsp;&nbsp;</span>(+costosos
																primeros)</div>
														</td>

													</tr>

													<tr>
														<td class="moduloordencelda"><div id="OPT6ON" style="display:{{ showdiv(order, 6, 'ON') }}"><a id="OPT6"
															href="javascript:fillRelated(6, callBackRelated);"
															class="Flink02" rel="nofollow">- Alfab&eacute;ticamente (A-Z)<br/></a></div>
															<div id="OPT6OFF" style="display:{{ showdiv(order, 6, 'OFF') }}">- Alfab&eacute;ticamente (A-Z)<br/></div>
														</td>
													</tr>

													<tr>
														<td class="moduloordencelda"><div id="OPT7ON" style="display:{{ showdiv(order, 7, 'ON') }}"><a id="OPT7"
															href="javascript:fillRelated(7, callBackRelated);"
															class="Flink02" rel="nofollow">-
																Alfab&eacute;ticamente (Z-A)<br/></a></div>
															<div id="OPT7OFF" style="display:{{ showdiv(order, 7, 'OFF') }}">- Alfab&eacute;ticamente (Z-A)<br/></div>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>

						</table>
					</td>
				</tr>
				<tr>
					<td class="Gcentro" width="422"></td>
				</tr>

			</table>
					</div>
{%- endmacro -%}
{%- macro centerPaginator(pageCount) -%}
	{%- if pageCount == 2 -%}
		140
	{%- elif pageCount == 3 -%}
		115
	{%- elif pageCount == 4 -%}
		105
	{%- else -%}
		90
	{%- endif -%}
{%- endmacro -%}
{%- macro getCurrencySimbol(currency) -%}
	{%- if currency == 'ARS' -%}
		$
	{%- endif -%}
{%- endmacro -%}
{# fin deficion macros #}
{# comienzo del codigo principal del codigo de la pagina tmp #}
{%- macro renderRelated(maxItemPage, order, articles) -%}
	<div id="paginationdemo" class="demo">
		{%- set pageItemCount = maxItemPage -%}
		{%- set pageCount = 0 -%}
		{%- for article in articles -%}
			{%- if pageItemCount == maxItemPage -%}
				{%- if pageCount != 0 -%}
					{{ renderEndDiv() }}
				{%- endif -%}
				{%- set pageCount = pageCount + 1 -%}
				{%- set pageItemCount = 0 -%}
				{%- set divId = "p" + pageCount|string -%}
				{{ renderBeginDiv(divId, pageCount) }}
			{%- endif -%}
			<tr>
												<td>
												{%- if loop.last or pageItemCount+1 == maxItemPage -%}
												<table width="390" border="0" cellspacing="0"
														cellpadding="0" >
												{%- else -%}
												<table width="390" border="0" cellspacing="0"
														cellpadding="0" class="moduleproductob">
												{%- endif -%}
														<tr>
															<td><table width="390" border="0" cellspacing="0"
																	cellpadding="0">
																	<tr>

																		<td width="82" rowspan="5" class="celdafoto"><a
																			href="{{ article.LinkBase }}">
																				<img src="{{ url.images ~ article.CoverSmall }}"
																				width="45" height="68" border="0"
																				class="Gimagesproductos"
																				alt="{{ article.Title.decode('utf-8') }}">
																		</a></td>
																		<td colspan="3" valign="top" class="celdacontenido">
																			<a href="{{ article.LinkBase }}"
																			class="FProductos">{{ article.Title.decode('utf-8') }}</a><br> <a
																			href="{{ article.LinkBase }}"
																			class="Fautores">Subcategoria</a>&nbsp;<span
																			class="Fprecio">****** TODO ******* Derecho y Ciencias Sociales</span></td>
																	</tr>
																	<tr>
																		<td width="201" valign="bottom"
																			class="celdapreciocomprar"><div align="left">
																				<span class="Fprecio">PRECIO: {{ getCurrencySimbol(article.CurrencyCode)|trim }}&nbsp;{{ article.PriceAmount }}.-</span>
																			</div>
																		</td>
																		<td valign="bottom">
																			<div align="right">
																				<table width="2" border="0" cellspacing="0"
																					cellpadding="0">
																					<tr>
																						<td height="19" class="divInfo">
																							<a
																							href="{{ article.LinkBase }}"
																							class="FProductos"><img
																								src="{{ url.images }}/imagenes/libros/b-info.gif"
																								alt="{{ article.Title.decode('utf-8') }}"
																								title="{{ article.Title.decode('utf-8') }}"
																								border="0" /> </a>
																						</td>

																						<td class="divComprarPedir"><a
																							href="javascript:APP.cartAdd({{ article.ProductId }});window.scrollTo(0,0);"
																							rel="nofollow"><img
																								src="{{ url.images }}/imagenes/libros/b-comprar.gif"
																								alt="Comprar" border="0" /> </a>
																						</td>

																					</tr>
																				</table>
																			</div></td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</td>
											</tr>

			{% set pageItemCount = pageItemCount + 1 %}
			{% if loop.last %}
				<input type="hidden" id="relatedPageCount" value="{{ pageCount|string }}">
				{{ renderEndDiv() }}
		<table>
			<tr>
				<td width="{{ centerPaginator(pageCount) }}">&nbsp;</td>
				<td width="260">
					<div id="paginator"></div></td>
				<td width="162">&nbsp;</td>
			</tr>
		</table>
			{% endif %}
		{% endfor %}
	</div>
{%- endmacro %}
{# fin codigo principal #}
