{%- macro renderSlider(product_list, prefix, cols, url) -%}
<div class="viewport">
    <ul class="overview">
{%- if product_list is iterable -%}
    {%- for p in product_list -%}
        {%- set title  = p.Title.decode('utf-8')|e -%}
        {%- set section  = p.Categoria_Seccion|string -%}
        {%- set price  = "%.2f"|format(p.PriceAmount) -%}
        {%- set product_id  = p.ProductId|string -%}
        {%- set product_url  = p.LinkBase ~ '.htm' -%}
        {%- set hs = p.FulfillmentValue|int -%}
        {%- if p.Authors[0] -%}
            {%- set author = p.Authors[0].ContributorName.decode('utf-8')|e -%}
            {%- set author_id = p.Authors[0].ContributorId|string -%}
        {%- else -%}
            {%- set author = None -%}
            {%- set author_id = 0 -%}
        {%- endif -%}
        {%- if p.ImprintName != None -%}
            {%- set imprint = p.ImprintName.decode('utf-8')|e -%}
        {%- endif -%}
        {%- if p.ProductForm[0] == 'B' -%}
            {%- set book = True -%}
            {%- set optSeleccionada = 'Autor' -%}
            {%- set optSeleccionada2 = 'Editorial' -%}
            {%- set seccionDeBusqueda = 'En Libros' -%}
        {%- elif p.ProductForm[0] == 'A' -%}
            {%- set music = True -%}
            {%- set optSeleccionada = 'Grupo/Int%E9rprete' -%}
            {%- set optSeleccionada2 = 'Sello Discogr%E1fico' -%}
            {%- set seccionDeBusqueda = 'En Musica' -%}
        {%- elif p.ProductForm[0] == 'V' -%}
            {%- set movie = True -%}
            {%- set optSeleccionada = 'Director/Actor' -%}
            {%- set optSeleccionada2 = 'Productora' -%}
            {%- set seccionDeBusqueda = 'En Peliculas' -%}
        {%- elif p.ProductForm[0] == 'Z' -%}
            {%- set generic = True -%}
            {%- set optSeleccionada = 'Autor' -%}
            {%- set optSeleccionada2 = 'Editorial' -%}
            {%- set seccionDeBusqueda = 'En Pasatiempos' -%}
        {%- endif -%}
        {%- set author_url = '/buscar.do?seccion=' ~ section ~ '&idSeccion=' ~ section ~'&criterioDeOrden=2&claveDeBusqueda=porAutor&texto=' ~ author ~ '&idAutor=' ~ author_id ~ '&txtencoded=' ~ author ~ '&optSeleccionada=' ~ optSeleccionada ~ '&seccionDeBusqueda=' ~ seccionDeBusqueda ~ '&idSeccionPropia=' ~ section -%}
        {%- set editorial_url = '/buscar.do?seccion=' ~ section ~ '&idSeccion=' ~ section ~'&criterioDeOrden=2&claveDeBusqueda=porEditorial&texto=' ~ imprint ~ '&idEditor=' ~ p.ImprintId|string ~ '&txtencoded=' ~ imprint ~ '&optSeleccionada=' ~ optSeleccionada2 ~ '&seccionDeBusqueda=' ~ seccionDeBusqueda ~ '&idSeccionPropia=' ~ section -%}
        {%- if (loop.index % cols) == 1 -%}
            <li> {#- start row -#}
            <table>
                <tr>
        {%- else -%}
                <td>&nbsp;</td>
        {%- endif -%}
                <td class="product-entry">
                    <a href="{{ product_url }}" title="{{ title }}">
                        <img src="{{ url.images ~ p.CoverSmall|e }}" width="98" alt="{{ title }}">
                    </a>

                    {#- POP UP CONTENT HOLDER -#}
                    <div class="product-popup-content">
                        {#- TITLE -#}
                        <p class="product-popup-title">
                            <a href="{{ product_url }}">{{ title }}</a>
                        </p>
                        {#- AUTHOR -#}
                        {%- if author -%}
                            <p class="product-author">de <a href="{{ author_url }}">{{ author }}</a></p>
                        {%- endif -%}
                        <p class="product-popup-price">$ {{ price -}}</p>
                        {%- if p.ImprintName != None -%}
                            {%- if   book  -%}Editorial:
                            {%- elif music -%}Discogr&aacute;fica:
                            {%- elif movie -%}Productora:
                            {%- else       -%}Editorial:
                            {%- endif -%}
                            <span class="product-imprint">
                                <a href="{{ editorial_url }}" class="artEditor">{{ imprint }}</a>
                            </span><br>
                        {%- endif -%}
                        {%- if p.Rating -%}
                            {%- set s = p.Rating|round|int -%}
                            Calificaci&oacute;n:
                            <span class="product-rating"
                                    title="{{ "%.2f"|format(p.Rating) }}">
                            {%- for i in range(s) -%}
                                <img src="{{ url.images }}/imagenes/rediseno/imagenes/comun/calificacionStar-back.png" alt="estrella">
                            {%- endfor -%}
                            {%- for i in range(5 - s) -%}
                                <img src="{{ url.images }}/imagenes/rediseno/imagenes/comun/calificacionStarDes-back.png" alt="estrella off">
                            {%- endfor -%}
                            </span>
                        {%- endif -%}
                        {%- if p.CommentCount > 0 -%}
                            <a href="{{ product_url }}.htm#coment">
                                {{ p.CommentCount|int }} comentario
                                {%- if p.CommentCount > 1 -%}s{%- endif -%}</a>
                        {%- endif -%}
                        {%- if p.Rating or p.CommentCount -%}
                            <br>
                        {%- endif -%}
                        {%- if p.Ranking -%}
                            Ranking: <span class="product-ranking">
                                {{- p.Ranking -}}
                            </span><br>
                        {%- endif -%}
                        {%- if p.PublishingDateValue -%}
                            {%- set pd = p.PublishingDateValue -%}
                            Fecha de publicaci&oacute;n:
                            <span class="product-date">
                                {{- (pd[6:8], pd[4:6], pd[0:4])|join('/') -}}
                            </span><br>
                        {%- endif -%}
                        {%- if   book  -%}
                            {%- if p.LanguageCode_desc -%}
                                Idioma:
                                <span class="product-language">
                                    {{- p.LanguageCode_desc.decode('utf-8') -}}
                                </span><br>
                            {%- endif -%}
                        {%- endif -%}
                        {%- if p.ExtentValue -%}
                            P&aacute;ginas:
                            <span class="product-pages">
                                {{- p.ExtentValue -}}
                            </span><br>
                        {%- endif -%}
                        {%- if p.TipoArticulo_desc != None -%}
                            {%- if book -%}
                                Edici&oacute;n:
                            {%- else -%}
                                Formato:
                            {%- endif -%}
                            <span class="product-format">
                                {{- p.TipoArticulo_desc.decode('utf-8') -}}
                            </span><br>
                        {%- endif -%}
                        {#- BUY -#}
                        <p class="product-cart-add">
                        {%- if p.ProductAvailability == '21' -%}
                            <a href="javascript:APP.cartAdd({{ product_id }})" title="agregar al carrito"><img src="{{ url.images }}/imagenes/rediseno/imagenes/seccionTematika/b-comprar.png" alt="agregar al carrito"></a>
                        {%- else -%} 
                            {%- if p.ProductAvailability == '40' -%}
                                <img src="{{ url.images }}/imagenes/rediseno/imagenes/seccionTematika/b-noDisp.png" alt="No Disponible" title="Actualmente este art&iacute;culo no puede ser solicitado como Pedido Especial">
                            {%- else -%} {#- ProductAvailability == '22' -#}
                                <a href="javascript:if (confirm('Este producto no esta disponible actualmente. Desea hacer un pedido?'))document.location = '/PedidoEspecial?ID_ARTICULO={{ product_id }}';"><img src="{{ url.images}}/imagenes/rediseno/imagenes/seccionTematika/b-pedir.png" alt="Pedir"></a>
                            {%- endif -%}
                        {%- endif -%}
                        </p>
                        <table class="product-infocomment"><tbody><tr>
                            <td class="product-moreinfo">
                            <a href="{{ product_url }}">+ info</a></td>
                            <td class="product-comment">
                            <a href="/Comentario?ID_ARTICULO={{ product_id }}">
                                agregar comentario</a></td>
                        </tr></tbody></table>
                        Entrega:
                        <span class="product-fulfillment">
                            {{ p.Fulfillment_desc.decode('utf-8')|e }}
                        </span><br>
                        <span class="product-delivery-note">
                                + <a href="javascript:false;">
                            Tiempo de Env&iacute;o
                            <br><span>
                            Capital Federal: {{ hs }} horas
                            h&aacute;biles.<br>
                            GBA: {{ hs + 24 }} horas h&aacute;biles.<br>
                            Interior del pa&iacute;s: {{ hs + 48 }} horas
                            h&aacute;biles.<br>
                            Resto del Mundo: var&iacute;a entre
                            {{ hs + 24 }} a {{ hs + 48 }} horas
                            h&aacute;biles dependiendo si se trata de una
                            ciudad capital.<br>
                            El horario de entrega para los pedidos dentro
                            de Argentina es de Lunes a Viernes de 9 a 18hs.
                            </span></a>
                        </span><br>
                    </div> <!-- p-popup -->
                </td>
        {%- if loop.index is divisibleby cols -%}
                </tr>
            </table>
            </li> {#- end row -#}
        {%- endif %}
    {%- endfor %}
    {%- if not product_list|length is divisibleby cols -%}
        {#- fill remaining cols -#}
        {%- for c in range(cols - (product_list|length % cols)) -%}
                <td>&nbsp;</td>
                <td>&nbsp;</td>
        {%- endfor -%}
            </tr>
        </table>
        </li>
    {%- endif %}
{%- endif -%} {#- product_list iterable -#}
    <li><table><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table></li>
    </ul>
</div>
{%- endmacro -%}
