{%- macro renderSlider(product_list, prefix, url) -%}
<div class="viewport">
	<ul class="overview">
	{%- for product in product_list -%}
			{% set href = '#inline_content' + '_' + prefix + '_'  + loop.index|string %}
			{%- if loop.index is odd -%}
			<li>
			<table>	
				<tr>
			{%- else -%}
					<td>&nbsp;</td>
			{%- endif -%}
					<td><a class="inline" href="{{ href }}">
							<img src="{{ url.images ~ "/tapas/sitio" ~ product.CoverSmall|escape }}" width="98" alt="">
						</a>
					</td>
			{%- if not loop.index is odd -%}
				</tr>
			</table>
			</li>
			{%- endif %}
	{%- endfor %}
	{%- if not loop.index is odd -%}
				<td>&nbsp;</td>
				<td>&nbsp;</td>	
			</tr>
		</table>
		</li>
	{%- endif %}
	<li><table><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table></li>
	</ul>
</div>
{%- endmacro -%}
