{% extends "page.html" %}

{% block head_extra %}
    {% include "home/index.css" %}
{% endblock %}
{% block bottom %}
    {% include "home/bottom.html" %}
{% endblock %}
{% block canvas_top %}
    {% include "top.html" %}
{% endblock %}
{% block canvas_messages %}
    {% include "messages.html" %}
{% endblock %}

{% block canvas_content -%}
    <div class="barraCentral" id="barraCentral">
        <div id="seccionTematika">
            <div id="product-gallery">
                {% include "product_gallery.html" %}
            </div>
            <div id="comments">
{# DISABLED WAITING FOR DATASET
                {% include "comments.html" %}
#}
            </div>
            <div id="lastvisited"
                    style="width: 900px; padding-top: 10px; float: left;">
                {% include "last_visited.html" %}
            </div>
        </div>
        <div id="rightmenu">
            {# XXX move to page.html #}
            {% include "right_menu.html" %}
        </div>
    </div> 
{%- endblock %}

{% block body_bottom -%}
    {% include "fragments/extra.html" %}
    {% include "home/bottom.js" %}
{%-endblock %}
