{% extends "page.html" %}

{% block head_extra %}
    <link type="text/css" rel="stylesheet" href="{{ url.data }}css/jquery.qtip.min.css">
    <style type="text/css">
        {% include "home/styles.css" %}
        {% include "home/tinycarousel.css" %}
    </style>
{% endblock %}

{% block canvas_content -%}
    <div id="seccionTematika">
        <div id="showcase">
            {% include "home/gallery.html" %}
        </div>
        <div id="comments">
{# DISABLED WAITING FOR DATASET
                {% include "fragments/comments.html" %}
#}
        </div>
        <div id="lastvisited"
                style="width: 900px; padding-top: 10px; float: left;">
            {% include "fragments/last_visited.html" %}
        </div>
    </div>
{%- endblock %}
