{%- import './macros/slider.html' as renderS -%}
{%- import './macros/tooltip.html' as renderT -%}
<div class="tmtkMesaNovedades" id="mesa">
	<!-- mesa y t&iacute;tulos de secciones -->
	<a href="/libros" class="tmtkMesaSeccionesTit" title="Libros"
		onmouseover="javascript:mostrarDiv('tmtkMesaSeccionesTitLibros');"
		onmouseout="javascript:mostrarDiv('tmtkMesaSeccionesTitLibros');"><object>
			<div id="tmtkMesaSeccionesTitLibros" style="display: none;"></div>
		</object>
	</a> <a href="/musica" class="tmtkMesaSeccionesTit" title="Msica"
		onmouseover="javascript:mostrarDiv('tmtkMesaSeccionesTitMusica');"
		onmouseout="javascript:mostrarDiv('tmtkMesaSeccionesTitMusica');"><object>
			<div id="tmtkMesaSeccionesTitMusica" style="display: none;"></div>
		</object>
	</a> <a href="/peliculas" class="tmtkMesaSeccionesTit" title="Pelculas"
		onmouseover="javascript:mostrarDiv('tmtkMesaSeccionesTitPeliculas');"
		onmouseout="javascript:mostrarDiv('tmtkMesaSeccionesTitPeliculas');"><object>
			<div id="tmtkMesaSeccionesTitPeliculas" style="display: none;"></div>
		</object>
	</a> <a href="/juguetes" class="tmtkMesaSeccionesTit" title="Pasatiempos"
		onmouseover="javascript:mostrarDiv('tmtkMesaSeccionesTitPasatiempos');"
		onmouseout="javascript:mostrarDiv('tmtkMesaSeccionesTitPasatiempos');"><object>
			<div id="tmtkMesaSeccionesTitPasatiempos" style="display: none;"></div>
		</object>
	</a>
	<div class="tmtkMesa-back">
		<div class="tmtkMesaMenuMod">
			<div class="tmtkMesaMenuTit"></div>
            <button onclick="javascript:fillShowCase('Recommended', null,true)">Recomendados</button>
            <button onclick="javascript:fillShowCase('Showcase',null,true)">Bestsellers</button>
		</div>
		<div id="tmtkMesa" class="tmtkMesa" style="display:none;">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<div class="disabledEfectCtrl" id="ctrlDisabled"
										style="font-family: 'Tahoma'; text-align: center; vertical-align: middle; font-size: 30px;">
									</div></td>
							</tr>
							<tr style="display: none;">
								<td colspan="4" align="center">
									<!--
<select id="orden" name="orden" onChange="cargarFiltro()">
</select>
<select id="filtro" name="filtro" onChange="cambioDeFiltroOrden()">
</select>
 --></td>
							</tr>
							<tr>
								<td>
									<div class="" id="cat1Disabled"></div></td>
								<td>
									<div class="" id="cat4Disabled"></div></td>
								<td>
									<div class="" id="cat5Disabled"></div></td>
								<td>
									<div class="" id="cat3Disabled"></div></td>
							</tr>
							<tr>
							{%- for section, cols in (("Books", 2), ("Music", 2), ("Movies", 2), ("Games", 2)) -%}
								<td align="center">
								<div id="sliderHome{{ section }}">
									<a class="buttons prev" id="anterior{{ loop.index }}" onfocus="this.blur()" href="#">
                                        <object>
											<div id="anterior{{ loop.index }}DIV" class="showcase-prev"></div>
										</object>
								    </a>
                                <div id="slider{{ section }}">{{ renderS.renderSlider(d[section], section|lower, cols, url) }}</div>
									 <a class="buttons next" id="siguiente{{ loop.index }}" onfocus="this.blur()" href="#">
                                        <object>
											<div id="siguiente{{ loop.index }}DIV" class="showcase-next"></div>
										</object>
								    </a>
                                </div></td>
                            {%- endfor -%}
							</tr>
						</table></td>
				</tr>
			</table>
		</div>
	</div>
</div>
{#
<!-- FIN mesa y t&iacute;tulos de secciones -->
<div id="tooltip_content_books" style="display: none;">{{ renderT.renderToolTip(tooltip['books'][tooltip['books'].keys()[0]], 'books')|replace("\n", "") }}</div>
<div id="tooltip_content_music" style="display: none;">{{ renderT.renderToolTip(tooltip['music'][tooltip['music'].keys()[0]], 'music')|replace("\n", "") }}</div>
<div id="tooltip_content_movies" style="display: none;">{{ renderT.renderToolTip(tooltip['movies'][tooltip['movies'].keys()[0]], 'movies')|replace("\n", "") }}</div>
<div id="tooltip_content_games" style="display: none;">{{ renderT.renderToolTip(tooltip['games'][tooltip['games'].keys()[0]], 'games')|replace("\n", "") }}</div>
#}
