{%- import './macros/slider.html' as renderS -%}
<div class="tmtkMesaNovedades" id="mesa">
	<!-- mesa y t&iacute;tulos de secciones -->
	<a href="/libros" class="tmtkMesaSeccionesTit" title="Libros"
		onmouseover="javascript:mostrarDiv('tmtkMesaSeccionesTitLibros');"
		onmouseout="javascript:mostrarDiv('tmtkMesaSeccionesTitLibros');"><object>
			<div id="tmtkMesaSeccionesTitLibros" style="display: none;"></div>
		</object>
	</a> <a href="/musica" class="tmtkMesaSeccionesTit" title="Msica"
		onmouseover="javascript:mostrarDiv('tmtkMesaSeccionesTitMusica');"
		onmouseout="javascript:mostrarDiv('tmtkMesaSeccionesTitMusica');"><object>
			<div id="tmtkMesaSeccionesTitMusica" style="display: none;"></div>
		</object>
	</a> <a href="/peliculas" class="tmtkMesaSeccionesTit" title="Pelculas"
		onmouseover="javascript:mostrarDiv('tmtkMesaSeccionesTitPeliculas');"
		onmouseout="javascript:mostrarDiv('tmtkMesaSeccionesTitPeliculas');"><object>
			<div id="tmtkMesaSeccionesTitPeliculas" style="display: none;"></div>
		</object>
	</a> <a href="/juguetes" class="tmtkMesaSeccionesTit" title="Pasatiempos"
		onmouseover="javascript:mostrarDiv('tmtkMesaSeccionesTitPasatiempos');"
		onmouseout="javascript:mostrarDiv('tmtkMesaSeccionesTitPasatiempos');"><object>
			<div id="tmtkMesaSeccionesTitPasatiempos" style="display: none;"></div>
		</object>
	</a>
	<div class="tmtkMesa-back">
		<div class="tmtkMesaMenuMod"
                style="text-align: center; margin-top: 20px;">
            <a href="javascript:fillShowCase('Recommended',null,true);"
                    style="margin: 0 10px;">
                <img src="/stage0/images/home-showcase-recommended.png" alt="boton mas vendidos"></a>
            <a href="javascript:fillShowCase('Showcase',null,true);"
                    style="margin: 0 10px;">
                <img src="/stage0/images/home-showcase-bestsellers.png" alt="boton cl&aacute;sicos"></a>
		</div>
		<div id="tmtkMesa" class="tmtkMesa" style="display:none;">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<div class="disabledEfectCtrl" id="ctrlDisabled"
										style="font-family: 'Tahoma'; text-align: center; vertical-align: middle; font-size: 30px;">
									</div></td>
							</tr>
							<tr style="display: none;">
								<td colspan="4" align="center"></td>
							</tr>
							<tr>
								<td>
									<div class="" id="cat1Disabled"></div></td>
								<td>
									<div class="" id="cat4Disabled"></div></td>
								<td>
									<div class="" id="cat5Disabled"></div></td>
								<td>
									<div class="" id="cat3Disabled"></div></td>
							</tr>
							<tr>
							{%- for section, cols in (("Books", 2), ("Music", 2), ("Movies", 2), ("Games", 2)) -%}
								<td align="center">
								<div id="sliderHome{{ section }}">
									<a class="buttons prev" id="anterior{{ loop.index }}" onfocus="this.blur()" href="#">
                                        <object>
											<div id="anterior{{ loop.index }}DIV" class="showcase-prev"></div>
										</object>
								    </a>
                                <div id="slider{{ section }}">{{ renderS.renderSlider(d[section], section|lower, cols, url) }}</div>
									 <a class="buttons next" id="siguiente{{ loop.index }}" onfocus="this.blur()" href="#">
                                        <object>
											<div id="siguiente{{ loop.index }}DIV" class="showcase-next"></div>
										</object>
								    </a>
                                </div></td>
                            {%- endfor -%}
							</tr>
						</table></td>
				</tr>
			</table>
		</div>
	</div>
</div>