<div class="footer">
    <div class="footerShadow"></div>
    <div class="footerLogos"></div>
    <div class="footerText">
        <a href="/">TEMATIKA</a> | <a href="/libros">LIBROS</a> | <a
            href="/musica">MUSICA</a> | <a href="/peliculas">PELICULAS</a>| <a
            href="/juguetes">PASATIEMPOS</a>
    </div>
    <div class="footerText2">
        <a href="/rss"> <img
            src="{{ url.images }}/imagenes/rediseno/imagenes/comun/rssLogo.gif"
            alt=""> <span>Descargue las Novedades y Lanzamientos de
                Tematika en su sitio</span>
        </a>
    </div>
    <div class="footerText">
        <table width="100%">
            <tr>
                <td width="10%"><a
                    href="https://servicios1.afip.gov.ar/clavefiscal/qr/mobilePublicInfo.aspx?req=e1ttZXRob2Q9Z2V0UHVibGljSW5mb11bcGVyc29uYT0zMDY1NDM4NjE5Ml1bdGlwb2RvbWljaWxpbz0wXVtzZWN1ZW5jaWE9MF1bdXJsPWh0dHA6Ly93d3cudGVtYXRpa2EuY29tXX0="
                    target="_F960AFIPInfo"> <img
                        src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0"
                        height="69" width="50"></a></td>
                <td width="80%"><a href="/institucional/conozcanos.jsp">MARCAS</a>
                    | <a href="/sucursales">SUCURSALES</a> | <a
                    onclick="window.open('http://www.yenny-elateneo.com/index.php?idS=2');return false;"
                    href="#">EVENTOS</a> | <a
                    onclick="window.open('http://www.yenny-elateneo.com/#Ranking');return false;"
                    href="#">RANKING</a> | <a
                    href="/institucional/servicios.jsp#preguntasfrecuentes">PREGUNTAS
                        FRECUENTES</a> | <a href="/empleos">EMPLEOS</a> | <a
                    href="mailto:librerias@tematika.com">CONTACTO</a> <br> <a
                    href="/referido">PROGRAMA DE REFERIDOS</a> | <a
                    href="/institucional/clientesInstitucionales.jsp">VENTAS
                        CORPORATIVAS</a> | <a href="/institucional/servicios.jsp#servicios">SERVICIO
                        AL CLIENTE</a> | <a
                    href="/ayuda/ayudaEstandar.jsp?url=/ayuda/enviosPlazos.jsp">PLAZOS
                        Y COSTOS DE ENV&Iacute;O</a></td>
                <td width="10%">&nbsp;</td>
            </tr>
        </table>
    </div>
</div>
