<div class="panelSecciones">
    {%- if d.Categoria_Seccion -%}
        {%- set SubjectId = d.Categoria_Seccion -%}
        {%- if SubjectId == 1 -%}
            <a href="/musica" id="panelSeccMusica" title="M&uacute;sica"><span></span></a>
            <a href="/peliculas" id="panelSeccPeliculas" title="Pel&iacute;culas"><span></span></a>
            <a href="/juguetes" id="panelSeccPasatiempos" title="Pasatiempos"><span></span></a>
        {%- endif %}
        {%- if SubjectId == 4 -%}
            <a href="/peliculas" id="panelSeccPeliculas" title="Pel&iacute;culas"><span></span></a>
            <a href="/juguetes" id="panelSeccPasatiempos" title="Pasatiempos"><span></span></a>
        {% endif %}
        {%- if SubjectId == 5 -%}
            <a href="/juguetes" id="panelSeccPasatiempos" title="Pasatiempos"><span></span></a>
        {%- endif %}
        {%- if SubjectId == 3 -%}
        {%- endif %}
    {%- endif %}
        <a href="/sucursales" id="panelSeccSucursales" title="Sucursales"><span></span></a>
        <a href="#" onclick="window.open('http://www.yenny-elateneo.com/index.php?idS=1');return false;" id="panelSeccQuid" title="Quid"><span></span></a>
        <a href="/extra" id="panelSeccExtra" title="eXtra!"><span></span></a>
</div>
