<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    {% block content_type %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% endblock %}
    {% block metaTag -%}
        <title>Tematika.com: Venta de libros, discos, peliculas. Libreria, disqueria online</title>
        <meta name="description" content="Tematika.com: Portal de venta por internet de libros, musica (discos), peliculas, pasatiempos. Gran variedad y disponibilidad. Ofertas, promociones. Envios a domicilio a todo el mundo." >
        <meta name="keywords" content="libros, discos, musica, peliculas, agendas, almanaques, calendarios, venta, online, comprar, compra, libreria, disqueria, envios, domicilio, todo el mundo, argentina, tematika, ranking, sucursales, compra segura, mas vendidos, lista de deseos, servicio, afiliados, regalos, promociones, yenny, el ateneo, grupo ilhsa, biografias, sinopsis, capitulo, indice, best seller, banda de sonido, novedades, recomendados, textos escolares" >
        <meta name="distribution" content="Global" >
        <meta name="copyright" content="Tematika.com" >
        <meta http-equiv="Pragma" content="no-cache" >
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" >
        <meta name="AUTHOR" content="Tematika.com" >
        <meta name="AuthorMetatags" content="NetOne" >
        <meta name="Resource-type" content="Document" >
        <link href="http://{{ site_domain }}/rss/rankingLibros.xml" title="RSS" type="application/rss+xml" rel="alternate">
        <link href="http://{{ site_domain }}/rss/rankingMusica.xml" title="RSS" type="application/rss+xml" rel="alternate">
        <link href="http://{{ site_domain }}/rss/rankingPeliculas.xml" title="RSS" type="application/rss+xml" rel="alternate">
        <link href="http://{{ site_domain }}/rss/rankingPasatiempos.xml" title="RSS" type="application/rss+xml" rel="alternate">
        <link rel="search" type="application/opensearchdescription+xml" title="Tematika" href="/plugin/search/busquedaInicio.xml">
    {%- endblock %}
    
    <style type="text/css">
    {% block page_css %}
        {% include "fragments/common.css" %}
        {% include "fragments/cart.css" %}
        {% include "fragments/section.css" %}
        {% include "fragments/section_index.css" %}
        {% include "fragments/last_visited.css" %}
        {% include "fragments/page.css" %}
    {% endblock %}
    </style>
    {% block ie_fix %}
        <!--[if lt IE 7]>
            <link href="/estilos/ie.css" type="text/css" rel="stylesheet">
        <![endif]-->  
    {% endblock %}
    {% block head_extra %}{% endblock %}

</head>
<body>
    {% block body_top %} {% endblock %}
    <div id="canvas" class="canvas">
        <div id="top">
            <div class="header">
                <a href="/" class="hLogo" title="Tematika.com"></a>
                <div class="hBuscador">
                    <ul class="dropdown">
                        <li class="dir"
                            onclick="javascript:desplegarOpciones('listaBuscador');"><span
                            id="optBusqueda">
                            <!-- ??? <tmpl_var optSeleccionada> -->
                        </span>
                            <ul style="display: none;" id="listaBuscador"
                                onmouseover="clearTimeout(tempo);"
                                onmouseout="ocultarOpcionesT('listaBuscador');">
            
                                {% block search_box_items %} {#- Each page fills li -#}
                                {% endblock %}
            
                            </ul>
                        </li>
                    </ul>
                    <input id="txtBuscar" name="buscadorTxtField" type="text" value=""
                        class="hBuscTxtF"
                        onkeypress="javascript: if(pressEnter(event)) buscador_setBusqueda(document.getElementById('optBusqueda').innerHTML, document.getElementById('txtBuscar').value, '','',document.getElementById('seccionBusqueda').value);">
                    <input type="hidden" id="seccionBusqueda" value=""> <input
                        type="hidden" id="idSeccionPropia" value=""> <input type="hidden"
                        id="idSeccion" value=""> <a id="btnBuscar" class="hBuscButton"
                        title="Buscar"
                        href="javascript:buscador_setBusqueda(document.getElementById('optBusqueda').innerHTML,document.getElementById('txtBuscar').value,'',document.getElementById('idSeccionPropia').value,document.getElementById('seccionBusqueda').value);">&nbsp;</a>
                </div>
                <a href="/institucional/servicios.jsp#servicios" class="hServClientes"
                    title="Servicio al cliente"></a>
                <div class="hModUsuarioBack"></div>
                <div class="hModUsuario">
                    <div class="hModUsrNombre" style="cursor: pointer"
                        onclick="window.location.href='/miCuenta/modificarSocio.jsp';">Mi
                        Cuenta</div>
                    <a id="divSalir" style="visibility: hidden;" class="hModUsrCerrar"
                        href="/TerminarSesion" title="Salir">salir</a>
                    <div class="hModUsrExtra">
                        Consulta&acute; tus <br> <a id="lnkCantPuntExtra" href="/extra">puntos</a>eXtra!
                    </div>
                    <a href="/IniciarCompra" id="textoCarrito" class="hModUsrCarrito"
                        title="Finalizar la compra"></a> <a href="/compra/carrito.jsp"
                        id="textoCarritoLnk" class="hModUsrCarritoLnk"
                        title="Carrito de compra"></a> <a href="/miCuenta"
                        class="hModUsrButton" title="Panel de Usuario"></a>
                </div>
            </div>
        </div>
        <div id="messages">
        {% block canvas_messages %}
            {% include "fragments/messages.html" %}
        {% endblock %}
        </div>
        <div id="content">
            {% block canvas_content %}{% endblock %}
            {% block right_menu %}
                <div id="rightmenu">
                    {% include "fragments/right_menu.html" %}
                </div>
            {% endblock %}
        </div>
        <div id="bottom">
        {% block canvas_footer %}
            {% include "fragments/canvas_footer.html" %}
        {% endblock %}
        </div>
    </div>

    {% block scripts %}
        {% include "fragments/scripts.html" %}
    {% endblock %}

    {% block scripts_extra %}
    {% endblock %}

    {% block body_bottom %}
        {% include "fragments/extra.html" %}
    {% endblock %}

</body>
</html>
