<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    {% block content_type %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% endblock %}
    {% block page_css %}
        {% include "css/page.css" %}
        {% include "css/cart.css" %}
        {% include "css/section.css" %}
        {% include "css/section_index.css" %}
        {% include "css/gallery.css" %}
        {% include "css/last_visited.css" %}
    {% endblock %}
    {% block ie_fix %}
        <!--[if lt IE 7]>
            <link href="/estilos/ie.css" type="text/css" rel="stylesheet">
        <![endif]-->  
    {% endblock %}
    {% block head_extra %}{% endblock %}

</head>
<body>
    {% block body_top %} {% endblock %}
    <div id="canvas" class="canvas">
        <div id="top">
        {% block canvas_top %}
            {% include "fragments/top.html" %}
        {% endblock %}
        </div>
        <div id="messages">
        {% block canvas_messages %}
            {% include "fragments/messages.html" %}
        {% endblock %}
        </div>
        <div id="content">{% block canvas_content %}{% endblock %}</div>
        <div id="bottom">
        {% block canvas_bottom %}
            {% include "fragments/canvas_footer.html" %}
        {% endblock %}
        </div>
    </div>
    {% block scripts %}
        {% include "fragments/scripts.html" %}
    {% endblock %}
    {% block body_bottom %} {% endblock %}
    {%- block analytics -%}
        {%- include "fragments/analytics.html" -%}
    {%- endblock %}
</body>
</html>
