{% extends "page.html" %}

{% block head_extra %}
    <style type="text/css">
        {% include "fragments/section_style.css" %} {# multi-section #}
        {% include "product/styles.css" %}
        {% include "fragments/cart.css" %}
        {% include "fragments/common.css" %}
        {% include "fragments/last_visited.css" %}
    </style>
{% endblock %}

{% block search_box %}
    <div class="hBuscador">
        <ul class="dropdown">
            <li class="dir" onclick="javascript:desplegarOpciones('listaBuscador');">
                <span id="optBusqueda">Todo el Sitio</span>
                <ul style="display: none;" id="listaBuscador"
                    onmouseover="clearTimeout(tempo);"
                    onmouseout="ocultarOpcionesT('listaBuscador');">

                    <li>
                        <a id="optBus1" href="javascript:APP.searchShowBy('optBus1','optBusqueda','listaBuscador','0','0','En Tematika.com');">Todo el sitio</a>
                    </li>
                    <li>
                        <a id="optBus2" href="javascript:APP.searchShowBy('optBus2','optBusqueda','listaBuscador', '0', '1','En Libros');">En Libros</a>
                    </li>
                    <li>
                        <a id="optBus3" href="javascript:APP.searchShowBy('optBus3','optBusqueda','listaBuscador', '0', '4','En Musica');">En Musica</a>
                    </li>
                    <li>
                        <a id="optBus4" href="javascript:APP.searchShowBy('optBus4','optBusqueda','listaBuscador', '0', '5','En Peliculas');">En Peliculas</a>
                    </li>
                    <li>
                        <a id="optBus5" href="javascript:APP.searchShowBy('optBus5','optBusqueda','listaBuscador', '0', '3','En Pasatiempos');">En Pasatiempos</a>
                    </li>

                </ul>
            </li>
        </ul>
        <input id="txtBuscar" name="buscadorTxtField" type="text" value=""
            class="hBuscTxtF"
            onkeypress="javascript: if(APP.pressedEnter(event)) APP.setSearch(document.getElementById('optBusqueda').innerHTML, document.getElementById('txtBuscar').value,document.getElementById('idSeccion').value,document.getElementById('idSeccionPropia').value,document.getElementById('seccionBusqueda').value);">
        <input type="hidden" id="seccionBusqueda"
                value="En Tematika.com">
        <input type="hidden" id="idSeccionPropia" value="0">
        <input type="hidden" id="idSeccion" value="0">
        <a id="btnBuscar" class="hBuscButton" title="Buscar"
            href="javascript:APP.setSearch(document.getElementById('optBusqueda').innerHTML,document.getElementById('txtBuscar').value,document.getElementById('idSeccion').value,document.getElementById('idSeccionPropia').value,document.getElementById('seccionBusqueda').value);">&nbsp;</a>
    </div>
{%- endblock -%}

{% block canvas_content -%}
    <div id="seccionTematika">
         {% include "product/product.html" %}
    </div>
{%- endblock %}

{% block scripts_extra -%}
	<!-- JFather -->
	<script type="text/javascript" src="{{ url.data }}/js/jfather.js"></script>

	<script type="text/javascript">
		{% include "fragments/exchange.js" %}
		{% include "fragments/price.js" %}
	    {% include "fragments/comments.js" %}
	    {% include "fragments/messages.js" %}
	    {% include "fragments/relatedProduct.js" %}
	    {% include "fragments/dropDownMenu.js" %}
	    {% include "fragments/last_visited.js" %}
	</script>

	<!-- Data Scripts -->
	<script type="text/javascript" src="{{ url.data }}/home-exchange.js"></script>
	<script type="text/javascript" src="{{ url.data }}{{ d.LinkBase }}-comments.js"></script>
	<script type="text/javascript" src="{{ url.data }}{{ d.LinkBase }}-related.js"></script>
	<script type="text/javascript" src="{{ url.data }}{{ d.LinkBase }}-price.js"></script>

	<script type="text/javascript">

		jQuery(document).ready(function() {
			try {
				var currencyCode = document.getElementById('currencyCode').value;
				var priceAmount = document.getElementById('priceAmount').value;
				if (document.getElementById('USD')) {
					document.getElementById('USD').innerHTML = 'U$S&nbsp;' + doExchange('ARS', 'USD', priceAmount).toFixed(2) + '.-';
				}
				if (document.getElementById('EUR')) {
					document.getElementById('EUR').innerHTML = '&euro;&nbsp;' + doExchange('ARS', 'EUR', priceAmount).toFixed(2) + '.-';
				}
			} catch (e) {
				// TODO
			}
			var url = '{{ d.LinkBase ~ ".htm" }}';
			var title = '{{ d.Title.decode("utf-8")|e }}';
			var urlPrincipalAttribute = null;
			var principalAttribute = null;
			{%- if d.Authors -%}
				urlPrincipalAttribute = '{{ d.Authors[0].ContributorURL }}';
				principalAttribute = '{{ d.Authors[0].ContributorName }}';
			{%- endif %}
			var urlGroup = null;
			var group = null;
			{%- if d.Authors -%}
				var urlGroup = '{{ d.Categories[0].URL }}';
				var group = '{{ d.Categories[0].Title.decode("utf-8")|e }}';
			{%- endif %}
			var price = '{{ d.CurrencyCode_desc }}&nbsp;{{ "%.2f"|format(d.PriceAmount) }}.-';
			var available = null;
			{%- if d.ProductAvailability == '21' -%}
				available = 'true';
			{%- endif %}
			var id = '{{ d.EntityId }}';
			addLastVisited(new Article(url, title, urlPrincipalAttribute, principalAttribute, urlGroup, group, price, available, id));
		});

		/* parse messages */
		{% include "fragments/messages_parse.js" %}
		/* Update data */
		fillPrice(null);
	    fillComments('detail');
	    fillRelatedProduct(null);
	    {%- if d.Categoria_Seccion == 1 -%}
	    	{# include "product/googleBooks.js" #}
	    {%- endif %}

	</script>
{%- endblock %}
