{%- macro getOrigen(id) -%}
	{%- if id == 1 -%}
		Editorial
	{%- elif id == 4-%}
		Sello discogr&aacute;fico
	{%- elif id == 5 -%}
		Productora
	{%- else -%}
		Editorial
	{%- endif -%}
{%- endmacro %}
{%- macro getSection(id) -%}
	{%- if id == 1 -%}
		libros
	{%- elif id == 4-%}
		musica
	{%- elif id == 5 -%}
		peliculas
	{%- elif id == 3 -%}
		pasatiempos
	{%- else -%}
		libros
	{%- endif -%}
{%- endmacro %}
{%- macro getOnixItem(texts, code) -%}
	{%- for text in texts -%}
		{%- if text.EntryCode == code -%}
			{{ text.TextContent }}
		{%- endif %}
	{%- endfor %}
{%- endmacro %}
{%- macro getAvailability(code) -%}
	{%- if code == '21' -%}
		true
	{%- else -%}
		false
	{%- endif %}
{%- endmacro %}
<!-- **** SECCION TEMATIKA **** -->
<div id="divCarrito" class="efectoCarritoMod" style="display:none">
	<div class="efectoCarritoTxt"><span class="txtMsgCarritoOK" id="msgCarritoOK"></span><br /><div id="msgCarritoERROR" style="font-size:12;color:red"></div><span id="spnPrecioCarrito" class="txtPrecioCarrito">PRECIO: $ <span  class="txtPrecioCarrito" id="precioCarrito"></span>.-</span></div>
	<div class="efectoCarritoImages"><img id="carritoImagen" src="" class="efectoCarritoImag"></div>
	<div id="efectoCarritoB"><a href="javascript:carrito_CloseCarrito();"><img src="/imagenes/b-carrContinuar.gif" alt="Continuar" border="0"></a></div>
</div>
<div id="modalBack" style="display:none"></div>
<div class="globoArticuloLoad" id="loadArticulo" style="display:none;" ></div>
<div class="globoArticulo" style="display:none;" id="globo" onMouseOver="this.style.display=''"><table  bgcolor="dddddd" border="0" cellspacing="0" cellpadding="0" onMouseOver="this.style.display=''" onMouseOut="ocultarGlobo()">
	<tr><td>Titulo:</td><td id="artTitulo"></td></tr>
	<tr id="trAutor"><td id="autor"></td><td id="artAutor"></td></tr>
	<tr id="trEditor"><td id="editor"></td><td id="artEditor"></td></tr>
	<tr id="trRanking"><td>Ranking:</td><td id="artRanking"></td></tr>
	<tr></tr>
	<tr><td>Fecha de Publicaci&oacute;n:</td><td id="artPublicacion"></td></tr>
	<tr><td>Idioma:</td><td id="artIdioma"></td></tr>
	<tr id="trPagina"><td id="pagina"></td><td id="artPagina"></td></tr>
	<tr id="trFormato"><td>Formato:</td><td id="artFormato"></td></tr>
	<tr id="trDisponibilidad"><td>Disponibilidad:</td><td id="artDisponibilidad"></td></tr>
	<tr id="trComprar"><td colspan="2"><input id="btnComprar" onClick="" type="button"  value="Agregar al Carrito"></td></tr>
	<tr id="trPedir"><td colspan="2"><input id="btnPedir" type="button"  value="Pedido Especial"></td></tr>
</table></div>
<!-- <tmpl_var contenidoSEO> -->
<a href="/{{ getSection(d.Categoria_Seccion) }}" class="panelSeccAct"></a>
<div class="detalleInfoPrinc">
   	<div id="dTopLeft">
        <div class="dImagenes"><div class="detalleImagen"><img src="{{ d.CoverSmall}}" alt="{{ d.Title }}" title="{{ d.Title }}"></div></div>
		<div class="dInfoPrincipal">
			<div class="dInfoTit"><h1><b style="font-size:20px;">{{ d.Title }}</b></h1></div>
			{%- if d.Authors -%}
            <div class="dInfoAutor"><h2>de&nbsp;{%- for contributor in d.Authors -%}<a href="{{ contributor.ContributorURL }}"><b>{{ contributor.ContributorName }}</b></a>&nbsp;{%- endfor %}</h2></div>
            {%- endif %}
            <span>{{ÊgetOrigen(d.Categoria_Seccion) }}: <a href="{{ d.ImprintURL }}">{{ d.ImprintName }}</a></span>
            {%- if d.Identifiers -%}
            <span>I.S.B.N : {{ d.Identifiers[0].IDValue }}</span>
            {%- endif %}
            <span>Clasificaci&oacute;n: {%- for categorie in d.Categories -%}<a href="{{ categorie.URL }}">{{ categorie.Text }}</a>&nbsp;{%- if not loop.last -%}È&nbsp;{%- endif %} {%- endfor %}</span>
            {%- if d.ProductForm -%}<span>Formato: {{ d.ProductForm_desc }}</span>{%- endif %}
            <span>Disponibilidad: {{ d.ProductAvailability_desc }}</span>
            {%- if d.ExtentUnit -%}<span>{{ d.ExtentUnit_desc }}:{{ d.ExtentValue }}</span>{%- endif %}
            <span>Publicaci&oacute;n: {{ d.PublishingDateValue }} | Idioma: {{ d.LanguageCode }}</span>
            <div class="dInfoM">{%- if getOnixItem(d.Texts, '24') -%}<a href="#primerCap">[+] Primer capitulo</a>&nbsp;{%- endif %}{%- if getOnixItem(d.Texts, '04') -%}<a href="#indCont">[+] Indice de contenidos</a>&nbsp;{%- endif %}{%- if getOnixItem(d.Texts, '13') -%}<a href="#biogra">[+] Biografia</a>&nbsp;{%- endif %}{%- if getOnixItem(d.Texts, '40') -%}<a href="#entrevista">[+] Ver Entrevista</a>&nbsp;{%- endif %}</div>
            {%- if d.CoverLarge %}<a href="javascript:mostrarImagen('{{ d.CoverLarge }}')">Ampliar imagen</a>{%- endif %}
			<div id="divEvaluacion"><div id="divEvaluacion"><div class="dInfoCalif"><div class="dInfoCalifStarMod"><span>Calificaci&oacute;n de lectores:</span>
			{%- if d.Rating -%}
				{%- for number in range(0, 4) -%}
				   	{%- if number+1 <= d.Rating|int -%}
				   		<div class="dInfoCalifStar"></div>
				   	{%- else -%}
				   		<div class="dInfoCalifStarDes"></div>
				   	{%- endif %}
				{%- endfor %}
			{%- else -%}
				<label><a href="/Comentario?ID_ARTICULO={{ d.EntityId }}&idSeccion=">SŽ el primero en comentarlo!</a></label>
			{%- endif %}
			</div>
			<div class="dInfoCalifBoton"><span><a href="/Comentario?ID_ARTICULO={{ d.EntityId }}&idSeccion="></a></span><a href="#"><div>AGREGAR COMENTARIO</div></a></div></div></div></div>
		</div>
	</div>
    <div id="dInfoCompl">
    	<div class="dSolapas" id="datosCompl">
			<div class="tmtkMesaMenuMod"><img class="solapasTitDatosPrinc" title="Datos principales"  alt="<tmpl_var altDatosPrincipales>" src="/imagenes/rediseno/imagenes/comun/t-datosPrinc.gif" /></div>
			<div class="dResena">{%- if getOnixItem(d.Texts, '17') -%}<span>Solapa:</span>{{ getOnixItem(d.Texts, '17') }}{%- endif %}{%- if getOnixItem(d.Texts, '18') -%}<span>Contratapa:</span>{{ getOnixItem(d.Texts, '18') }}{%- endif %}{%- if getOnixItem(d.Texts, '01') -%}<span>Sinopsis:</span>{{ getOnixItem(d.Texts, '01') }}{%- endif %}</div>
        </div>
		{%- if getOnixItem(d.Texts, '04') -%}
			<div class="dSolapas" id="indCont">
	            <div class="tmtkMesaMenuMod"><div class="solapasTitIndCont" title="&Iacute;ndice de contenidos"/></div></div>
	            <div class="dResena" id="divIndContenido" style="border:thin solid;border-color: white;">{{ getOnixItem(d.Texts, '04') }}</div>
			</div>
		{%- endif %}
		{%- if getOnixItem(d.Texts, '24') -%}
		   	<div class="dSolapas" id="primerCap">
				<div class="tmtkMesaMenuMod"><div class="solapasTitprimerCap" title="Primer cap&iacute;tulo"/></div></div>
				<div class="dResena" id="divPrimerCapitulo" style="border:thin solid;border-color: white;">{{ getOnixItem(d.Texts, '24') }}</div>
			</div>
		{%- endif %}
		{%- if getOnixItem(d.Texts, '13') or (d.Authors and getOnixItem(d.Authors[0].Texts, '13'))-%}
			<div class="dSolapas" id="biogra">
				<div class="tmtkMesaMenuMod"><div class="solapasTitBio" title="&Iacute;ndice de contenidos" /></div></div>
	        	<div class="dResena" id="divBiografia"><span></span>
	        	{%- if getOnixItem(d.Texts, '13') -%}
	        		{{ getOnixItem(d.Texts, '13') }}
	        		<br>
	        	{%- endif %}
	        	{%- if d.Authors -%}
	        		{%- for author in d.Authors -%}
	        			{{ getOnixItem(author.Texts, '13') }}
	        			<br>
	        		{%- endfor %}
	        	{%- endif %}
	        	</div>
			</div>
		{%- endif %}
		<a name="coment"></a><div class="dSolapas" id="comentarios"><div class="tmtkMesaMenuMod"><img class="solapasTitComent" alt="<tmp_var altComentarios>" src="/imagenes/rediseno/imagenes/comun/t-comentarios.gif" /></div></div>
		<div id="divComentarios"><div id="comments_detail"></div></div>
		{%- if getOnixItem(d.Texts, '40') -%}
			<div class="dSolapas" id="entrevista">
		    	<div class="tmtkMesaMenuMod"><div class="solapasTitEntrev" title="Entrevista"/></div></div>
				<div class="dResena" id="divEnrevista"><span></span>{{ getOnixItem(d.Texts, '40') }}</div>
			</div>
		{%- endif %}
		<div id="googleBook" class="dSolapas1"><div id="viewerCanvas" style="height: 500px;">
		</div></div>
		<input type="hidden" value="{{ d.EntityId }}" id="articulo">
		<div class="dSolapas" id="listas" style="height: 200px;display: none;"></div>
		<div class="dSolapas" id="tags"></div>
	</div>
</div>
<!-- <tmpl_var contenidoSEO> -->
<div id="divModuloExtra"><div id="modExtra_detail"><div id="dTopRight"><div class="dCompra"><p align="center"></p></div></div></div></div>
<input type="hidden" value="{{ d.Categoria_Seccion }}" id="idSccion">
<input type="hidden" value="{{ d.PriceAmount }}" id="precio">
<input type="hidden" value="{{ d.EntityId }}" id="idArticulo">
<input type="hidden" value="{{ÊgetAvailability(d.ProductAvailability) }}" id="estaDisponible">
<input type="hidden" value="{{ url }}" id="urlPage">
<input type="hidden" value="{{ d.Title }}" id="titulParaRedSocial">
<div id="dRecomendaciones" style="height: 550px;" ><div id="divArticulosRelacionados"><div id="related_detail"><div class="dRecomendTit" ></div></div></div></div>