{% extends "tplBase.html" %}
{% block head -%} {{ head }} {%- endblock %}
{% block bottom -%} {{ bottom }} {%- endblock %}
{% block js_top -%} {{ js_top }} {%-endblock %}
{% block js_bottom -%} {{ js_bottom }} {%-endblock %}
{% block top -%} {{ top }} {%- endblock %}
{% block messages -%} {{ messages }} {%- endblock %}
{% block content -%}
<div class="barraCentral" id="barraCentral">
	<div id="seccionTematika">
		<div id="showcase"> {{ showcase }} </div>
		<div id="comments"> {{ comments }} </div>
		<div id="lastvisited" style="width: 900px; padding-top: 10px; float: left;"> {{ lastvisited }} </div>
	</div>
	<div id="rightmenu"> {{ rightmenu }} </div>
</div> 
{%- endblock %}
{% block extra -%} {{ extra }} {%- endblock %}